<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>💪Swole Circuit Builder💪</title>
    <meta name="description" content="Swole Circuitz" />
    <meta name="author" content="Gools" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css?v=1.0" />
  </head>
  <body>
    <div id="app">
      <table id="circuitTable">
        <tbody>
          <template v-for="(circuit, c) in routine">
            <tr>
              <th colspan="2">
                <input type="text" v-model="routine[c].name" />
                <input type="number" v-model="routine[c].reps" />rep<span v-if="routine[c].reps > 1">s</span>
                <button @click="removeCircuit(c)">x</button>
              </th>
            </tr>
            <template v-for="(workout, w) in circuit.workouts">
              <tr>
                <td>
                  <input type="text" v-model="circuit.workouts[w].name" />
                  <button @click="removeWorkout(c, w)">x</button>
                </td>
                <td>
                  <input
                    type="number"
                    v-model="circuit.workouts[w].duration"
                  />seconds
                </td>
              </tr>
            </template>
            <tr>
              <td colspan="2">
                <button @click="addWorkout(c)">add workout</button>
              </td>
            </tr>
          </template>
          <tr>
            <td colspan="2">
              <button @click="addCircuit">add circuit</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button @click="startWorkout(0,0,0)">start workout</button>
      <div v-if="workoutStarted && !workoutFinished">
        <div>workout started</div>
        <div>{{routine[currentCircuit].name}} (rep {{currentRep + 1}}/{{routine[currentCircuit].reps}})</div>
        <div>{{routine[currentCircuit].workouts[currentWorkout].name}}</div>
        <div>{{timer.toFixed(2)}}</div>
      </div>
      <div v-if="workoutFinished">
        WOO DONE
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="scripts.js"></script>
  </body>
</html>
